*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(images/26551641.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Nunito;
    text-align: center;
    font-weight: bolder;
    color: black;
}
div{
    width: 90%;
    margin: auto;
    margin-top: 25px;
}
.div1{
    width: 97.5%;
}
.div3 img{
    width: 100%;
}
h1, h2, h3, b, li::marker{
    color: red;
}
li{
    text-align: left;
}
p{
    margin-bottom: 10px;
}
li{
    margin-left: 20px;
    margin-bottom: 10px;
}
.div6 img{
    width: 15px;
    margin-right: 10px;
}
.div6 span{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.div6 li{
    margin-bottom: 0;
    list-style-type: none;
    margin-left: 0;
}
img{
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.box{
    width: 75%;
    margin-bottom: 10px;
    border: red solid 2px;
    border-radius: 25px;
    transform:  translateX(-200%);
    transition: transform 1s ;
}
.box:nth-child(even){
    align-self: flex-end;
    transform: translateX(200%);
}
.box.show{
    transform: translateX(0);
}
.butdiv button{
    padding: 25px;
    background-color: red;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: large;
    animation: beat 1s infinite;
    font-family: Nunito;
}
@keyframes beat {
    50%{
        transform: scale(1.125);
    }
}
hr{
    margin-top: 25px;
    border-color: red;
}
footer{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 5px;
}
footer p{
    text-align: left;
    margin-bottom: 10px;
}
.quizbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100svh;
    padding-bottom: 350px;
    margin-top: 30px;
}
.quizbody h1{
    color: red;
}
.quizbody li{
    margin-left: 20px;
}
.progress{
    background-color: black;
    height: 2px;
    margin: auto;
    text-align: left;
    display: flex;
    align-items: center;
}
.a{
    background-color: red;
    background-size: 2px;
    width: 0%;
    height: 100%;
    animation: slide1 2s 0.5s forwards;
    margin: 0;
}
.b{
    background-color: red;
    background-size: 2px;
    width: 20%;
    height: 100%;
    animation: slide2 2s 0.5s forwards;
    margin: 0;
}
.c{
    background-color: red;
    background-size: 2px;
    width: 40%;
    height: 100%;
    animation: slide3 2s 0.5s forwards;
    margin: 0;
}
.d{
    background-color: red;
    background-size: 2px;
    width: 60%;
    height: 100%;
    animation: slide4 2s 0.5s forwards;
    margin: 0;
}
.e{
    background-color: red;
    background-size: 2px;
    width: 80%;
    height: 100%;
    animation: slide5 2s 0.5s forwards;
    margin: 0;
}
.circle{
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin: 0;
    box-shadow: 0px 0px 10px 7px red;
}
@keyframes slide1 {
    to{
        width: 20%;
    }
}
@keyframes slide2 {
    to{
        width: 40%;
    }
}
@keyframes slide3 {
    to{
        width: 60%;
    }
}
@keyframes slide4 {
    to{
        width: 80%;
    }
}
@keyframes slide5 {
    to{
        width: 100%;
    }
}
.div9{
    text-align: left;
}
.div11 button{
    width: 175px;
    transition: none;
    transform: translateX(0);
}
.div11{
    display: flex;
    justify-content: space-between;
}
.div12 button{
    width: 175px;
    padding: 25px;
    background-color: red;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: large;
    font-family: Nunito;
}
.div12{
    display: flex;
    justify-content: space-between;
}

