*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Nunito;
    background-image: linear-gradient(to bottom right,black, #800000, black );
    background-attachment: fixed;
    color: white;
    font-weight: bolder;
}
div{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 25px;
}
.div1{
    width: 95%;
}
h1, h2, h3{
    color: rgb(0, 225, 0);
}
h2{
    margin-bottom: 10px;
}
ul{
    list-style-type: none;
}
li{
    text-align: left;
    margin-bottom: 10px;
}
.divli img{
    width: 15px;
    margin-right: 10px;
}
.divli span{
    display: flex;
    align-items: center;
}

.a li{
    margin-bottom: 0;
}
.a span, p{
    margin-bottom: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 90%;
}
.box{
    width: 75%;
    margin-bottom: 10px;
    border: white solid 2px;
    border-radius: 25px;
    transition: transform 1s ;
}
.box:nth-child(even){
    align-self: flex-end;
}
.div4{
    color: #800000;
    background-color: white;
    padding: 15px;
}
hr{
    margin-top: 25px;
}
footer{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 5px;
}
footer p{
    text-align: left;
    margin-bottom: 10px;
}
.butdiv{
    overflow: hidden;
}
button{
    padding: 25px;
    background-color: rgb(0, 225, 0);
    border-radius: 50px;
    border: none;
    color: black;
    font-weight: bolder;
    font-size: large;
    font-family: Nunito;
    transform: translateX(200%);
    transition: transform 1s;
}
button.show{
    transform: translateX(0);
}
.quizbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100svh;
    padding-bottom: 350px;
    margin-top: 30px;
}
.quizbody h1{
    color: white;
}
.quizbody li{
    margin-left: 20px;
}
.progress{
    background-color: black;
    height: 20px;
    margin: auto;
    border-radius: 25px;
    text-align: left;
}
.fill{
    background: linear-gradient(45deg, rgb(100, 225, 100) 25%, transparent 25%,transparent 50%,rgb(100, 225, 100) 50%, rgb(100, 225, 100) 75%,transparent 75%,transparent);
    background-size: 20px;
    border-radius: 25px;
}
@keyframes move {
    100%{
        background-position: 20px 0px;
    }
}
@keyframes slide1 {
    to{
        width: 20%;
    }
}
@keyframes slide2 {
    to{
        width: 40%;
    }
}
@keyframes slide3 {
    to{
        width: 60%;
    }
}
@keyframes slide4 {
    to{
        width: 80%;
    }
}
@keyframes slide5 {
    to{
        width: 100%;
    }
}
.b{
    background-color: rgb(0, 125, 0);
    width: 0%;
    height: 100%;
    margin: 0;
    animation: move 0.5s linear infinite, slide1 0.5s 1s linear forwards;
}
.c{
    background-color: rgb(0, 125, 0);
    width: 20%;
    height: 100%;
    margin: 0;
    animation: move 0.5s linear infinite, slide2 0.5s 1s linear forwards;
}
.d{
    background-color: rgb(0, 125, 0);
    width: 40%;
    height: 100%;
    margin: 0;
    animation: move 0.5s linear infinite, slide3 0.5s 1s linear forwards;
}
.e{
    background-color: rgb(0, 125, 0);
    width: 60%;
    height: 100%;
    margin: 0;
    animation: move 0.5s linear infinite, slide4 0.5s 1s linear forwards;
}
.f{
    background-color: rgb(0, 125, 0);
    width: 80%;
    height: 100%;
    margin: 0;
    animation: move 0.5s linear infinite, slide5 0.5s 1s linear forwards;
}
.div6{
    text-align: left;
}
.div8 button{
    width: 150px;
    transition: none;
    transform: translateX(0);
}
.div8{
    display: flex;
    justify-content: space-between;
}

